*​{
    margin: ​0​px​;
    padding: ​0​px​;
    box-sizing: ​border-box​;
 }
body {
    font-family: 'Roboto';
}

header {
    background-color: #112272;  
    padding-left: 20px;
    padding-right: 20px;
}
.header-logo {
    display: flex;
    width: 200px;
}
.logo {
    width: 80%;
}
.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    display: none;
}
.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-nav a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 0;
    font-size: 15px;
}
.header-nav  li {
    width: 100px;
    margin: 0;
    border: 2px solid #fff;
    text-align: center;
    background-color: #4486DB;
}
.nav-sesion li {
    background-color: #05ACD3;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;   
}

.menu-button {
    /* background-color: #4486DB; */
    /* color: #fff; */
    background-color: #fff;
    /*display: flex;*/
    max-width: 50px;
    padding: 10px 0;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    /*margin: auto;*/
    width: 50px;
}
.search {
    display: none;
}
.search1 {
    /*background-color: violet;*/
    text-align: center;
}
.sesion {
    display: flex;
    color: white;
}
.sesion a {
    color: #fff;
}
.carrito {
    display: flex;
    color: white;
}
.carrito a {
    color: #fff;
}
.promo {
  
    margin-top: 10px;
}
.img-promo {
    width: 100%;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.productos {
    /*background-color: rgb(153, 153, 153); */
    /*border: 1px solid ;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.producto {
    position: relative;
    /*box-shadow: 0px 0px 10px rgb(100, 100, 100);*/
    margin-bottom: 10px;
}

.img-producto {
    display: flex;
    margin: auto;
    width: 80%;

}
.producto-titulo {
    text-align: center;
    padding-bottom: 5px;
    color: maroon;
    font-weight: bold;
}

.producto-detalles {
    display: flex;
    justify-content: space-between;
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}
.producto-descripcion {
    display: none;
    
}
.producto-SKU {
    font-size: 12px;
}

footer {
    background-color: #112272;  
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5px;
    padding-top: 5px;

}

footer p {    
    font-size: 12px;
}
.footer-titulos {
    font-weight: bold;
    margin-bottom: 0px;
}
.direccion p, .redes p {
    margin-top: 0px;
}

.copyright {
    border-top: 2px solid #fff;
}
.copyright p {
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
}
.redes {
    margin-bottom: 5px;
}
.redes a {
    color: #fff;
}
.redes-iconos {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px){
    .menu-button {
        display: none;
    }
    .carrito {
        display: none;
    }
    .sesion {
        display: none;
    }
    .search {
        display: flex;
    }
    .search1 {
        display: none;
    }
    .header-nav {
        display: flex;        
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
    }
    .direccion, .redes {
        width: 40%;
    }
    .copyright p {
        text-align: center;
    }
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .producto {
        width: 23%;
        border: solid 1px black;
    }
    .producto-detalles {
        display: block;
        margin: 0 5px;
    }
    .producto-descripcion {
        display: block;
        color: black;
        font-size: 10px;
        padding-bottom: 5px;
    }
    .producto-SKU {
        text-align: right; 
    }
    .producto-precio {
        text-align: right;
        font-size: 16px;
    }

}



/*

.hamburguer-button {
    background-color: #4486DB;
    color: #fff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
    margin: auto;
}

.nav-secciones {
    display: none;
}
.nav-right {
    display: none;
}

.nav-secciones ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.nav-secciones a {
    text-decoration: none;   
    color: #fff; 
}
.nav-right a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px){
    nav {
        padding: 1em;
        font-family: 'Roboto';
      }
      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background: #333;
        display: flex;
      }
      nav li a {
        color: white;
        display: block;
        text-decoration: none;
        padding: .5em 1em;
      }
      nav li a:hover {
        background: tomato;
        color: white;
      }
    .header-top {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-logo {
        width: 20%;
    }
    .logo {
        width: 100%;
    }
    .search {
        width: 80%;
    }
    .header-nav {
        width: 70%;
        display: flex;
        border: 5px red solid;
    }
    .header-contenedor {
        /*display: flex;*/
        /*justify-content: space-between;*/
/*    }
    .hamburguer-button {
        display: none;
    }
    .header-middle {
        width: 30%;
    }
    .nav-enlace {
        display: inline-block;
    }
    .nav-secciones ul {
        display: flex   ;
    }
    .nav-secciones {
        display: flex;  
        justify-content: space-around;      
    }
    .nav-right {
        display: block;
        /* background-color: #05ACD3; */
  /*  }
    .middle-button {
        display: flex;   
           
    }
    .middle-button ul {
        background-color: #4486DB;  
        display: flex;
        justify-content: space-between;
    }
    .middle-button li {
        margin: 0 10px;
        justify-content: space-between;
    }
    .carrito {
        background-color: #05ACD3;
    }
    .sesion {
        background-color: #05ACD3;
    }

}

@media (min-width: 1200px) {
 .header-contenedor {
     max-width: 1200px;
     margin: auto;
 }
}*/