<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <script src="https://kit.fontawesome.com/e438782a43.js" crossorigin="anonymous"></script>
    <title>Página de Inicio | MemoryShop</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <div class="header-top">
            <div class="hamburguer-button">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div> 
            <div class="header-logo">
                    <img src="/images/MemoryShop_Logo.png" class="logo">
            </div>
            <div class="search">
                <form>
                    <input type="search" name="Search" id="search" placeholder="Búsqueda de artículo" size="30" maxlength="30"><input type="submit" value="Buscar">
                </form>
            </div>  
        </div>
        <div class="header-nav">            
                    <ul class="nav-main">
                      <li><a href="#">SSD</a></li>
                      <li><a href="#">RAM</a></li>
                      <li><a href="#">FLASH</a></li>
                    </ul>
                    <ul class="nav-sesion">
                        <li><a href="#">Mis Compras <i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="#">Iniciar sesion <i class="fas fa-user"></i></a></li>
                    </ul>
        </div> 
    </header>
    <main>
        <div class="promo">
            <img src="/images/promo1.png" class="img-promo">
        </div>
        <div class="productos">
            <div class="producto">
                <div class="producto-titulo">Western Digital WDSD120G1G0A</div>
                <img src="/images/WD-SSD-120GB.jpg" class="img-producto">
                <div class="producto-detalles">
                    <div class="producto-descripcion"> SSD Western Digital Green, 120GB, SATA III, 2.5"</div>                
                    <div class="producto-SKU">SKU: WD120GBS</div>
                    <div class="producto-precio">Precio: 1,500.00</div>
                </div>
            </div>
            <div class="producto">
                <div class="producto-titulo">Memoria flash ADATA de 32G</div>
                <img src="/images/ADATA-FLASH-32G.jpg" class="img-producto">
                <div class="producto-detalles">
                    <div class="producto-descripcion"> Memoria Flash Adata de 32 GB, color negro con rojo</div>
                    <div class="producto-SKU">SKU: ADF32GBS</div>
                    <div class="producto-precio">Precio: 149.90</div>
                </div>
            </div>
            <div class="producto">
                <div class="producto-titulo">ADATA RAM DDR4 8GB</div>
                <img src="/images/ADATA-RAM-8GB.jpg" class="img-producto">
                 <div class="producto-detalles">
                        <div class="producto-descripcion">Memoria Ram ADATA DDR4 2666 SO-DIMM</div>
                        <div class="producto-SKU">SKU: WD120GBS</div>
                        <div class="producto-precio">Precio: 1,500.00</div>
                </div>
            </div>
            <div class="producto">
                <div class="producto-titulo">Hyundai Memory FLASH 32G</div>
                <img src="/images/Hyundai-FLASH-16GB.jpg" class="img-producto">
                <div class="producto-detalles">                
                    <div class="producto-descripcion">USB HYUNDAI U2BK/16GAS, Plata, 16 GB</div>
                    <div class="producto-SKU">SKU: ADF32GBS</div>
                    <div class="producto-precio">Precio: 149.90</div>
                </div>
            </div>
            <div class="producto">
                <div class="producto-titulo">Western Digital WDSD120G1G0A</div>
                <img src="/images/WD-SSD-120GB.jpg" class="img-producto">
                <div class="producto-detalles">
                    <div class="producto-descripcion"> SSD Western Digital Green, 120GB, SATA III, 2.5"</div>                
                    <div class="producto-SKU">SKU: WD120GBS</div>
                    <div class="producto-precio">Precio: 1,500.00</div>
                </div>
            </div>
            <div class="producto">
                <div class="producto-titulo">Memoria flash ADATA de 32G</div>
                <img src="/images/ADATA-FLASH-32G.jpg" class="img-producto">
                <div class="producto-detalles">
                    <div class="producto-descripcion"> Memoria Flash Adata de 32 GB, color negro con rojo</div>
                    <div class="producto-SKU">SKU: ADF32GBS</div>
                    <div class="producto-precio">Precio: 149.90</div>
                </div>
            </div>
            <div class="producto">
                <div class="producto-titulo">ADATA RAM DDR4 8GB</div>
                <img src="/images/ADATA-RAM-8GB.jpg" class="img-producto">
                 <div class="producto-detalles">
                        <div class="producto-descripcion">Memoria Ram ADATA DDR4 2666 SO-DIMM</div>
                        <div class="producto-SKU">SKU: WD120GBS</div>
                        <div class="producto-precio">Precio: 1,500.00</div>
                </div>
            </div>
            <div class="producto">
                <div class="producto-titulo">Hyundai Memory FLASH 32G</div>
                <img src="/images/Hyundai-FLASH-16GB.jpg" class="img-producto">
                <div class="producto-detalles">                
                    <div class="producto-descripcion">USB HYUNDAI U2BK/16GAS, Plata, 16 GB</div>
                    <div class="producto-SKU">SKU: ADF32GBS</div>
                    <div class="producto-precio">Precio: 149.90</div>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <div class="footer-top">
            <div class="direccion">
                <p class="footer-titulos">MemoryShop</p>
                <p>Calle 85, No. 49, Ciudad de México</p>
            </div>
            <div class="redes">
                <p class="footer-titulos">Contacto:</p>
                <div class="redes-iconos">
                    <a href="#"> <i class="fab fa-2x fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-2x fa-twitter-square"></i></a>
                    <a href="#"><i class="fas fa-2x fa-envelope-square"></i></a>
                </div>
            </div>
        </div>        
        <div class="copyright">
            <p>Copyright <i class="far fa-copyright"></i> MemoryShop S.A. de C.V.</p>

        </div>

    </footer>
    
</body>
</html>
