<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <script src="https://kit.fontawesome.com/e438782a43.js" crossorigin="anonymous"></script>
    <title>Página de Login | MemoryShop</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <div class="header-top">
            <div class="menu-button">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div> 
            <div class="header-logo">
                    <img src="/images/MemoryShop_Logo.png" class="logo">
            </div>            
            <div class="sesion">
                <a href="#">
                    <i class="fas fa-2x fa-user"></i>
                </a>
            </div>
            <div class="carrito">
                <a href="#">
                    <i class="fas fa-2x fa-shopping-cart"></i>
                </a>
            </div>
            <div class="search">
                <form>
                    <input type="search" name="Search" id="search" placeholder="Búsqueda de artículo" size="30" maxlength="30"><input type="submit" value="Buscar">
                </form>
            </div>  
        </div>
        <div class="search1">
            <form>
                <input type="search" name="Search" id="search" placeholder="Búsqueda de artículo" size="20" maxlength="20"><input type="submit" value="Buscar">
            </form>
        </div>
        <div class="header-nav">            
                    <ul class="nav-main">
                      <li><a href="#">SSD</a></li>
                      <li><a href="#">RAM</a></li>
                      <li><a href="#">FLASH</a></li>
                    </ul>
                    <ul class="nav-sesion">
                        <li><a href="#">Mis Compras <i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="#">Iniciar sesion <i class="fas fa-user"></i></a></li>
                    </ul>
        </div> 
    </header>
    <main>
        <div class="promo">
            <img src="/images/promo1.png" class="img-promo">
        </div>
        <div class="login">
            <div class="titulo-login">Login</div>
        </div>
        <div class="login-container">
            <form>
                <label class="label-form" for="email">Correo</label>
                <br>
                <input class="input-form" type="email">
                <br>
                <label class="label-form" for="password">Contraseña:</label>
                <br>
                <input class="input-form" type="password">
                <button type="submit" class="button-form">Iniciar Sesión</button>
            </form>       
        </div>

    </main>
    <footer>
        <div class="footer-top">
            <div class="direccion">
                <p class="footer-titulos">MemoryShop</p>
                <p>Calle 85, No. 49, Ciudad de México</p>
            </div>
            <div class="redes">
                <p class="footer-titulos">Contacto:</p>
                <div class="redes-iconos">
                    <a href="#"> <i class="fab fa-2x fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-2x fa-twitter-square"></i></a>
                    <a href="#"><i class="fas fa-2x fa-envelope-square"></i></a>
                </div>
            </div>
        </div>        
        <div class="copyright">
            <p>Copyright <i class="far fa-copyright"></i> MemoryShop S.A. de C.V.</p>

        </div>

    </footer>
    
</body>
</html>
