<header>
    <div class="header-top">
        <div class="menu-button">
            <a href="#">
                <i class="fas fa-bars"></i>
            </a>
        </div> 
        <div class="header-logo">
            <a href="/products">
                <img src="/images/MemoryShop_Logo.png" class="logo">
            </a>
        </div>            
        <div class="sesion">
            <a href="#">
                <i class="fas fa-2x fa-user"></i>
            </a>
        </div>
        <div class="carrito">
            <a href="#">
                <i class="fas fa-2x fa-shopping-cart"></i>
            </a>
        </div>
        <div class="search">
            

            <form action="/products/buscar" method="POST">
                <input type="search" name="search" id="titulo">
                <button class="boton-buscar" type="submit">Buscar</button>
            </form>
        </div>  
    </div>
    <div class="search1">
        <form>
            <input type="search" name="Search" id="search" placeholder="Búsqueda de artículo" size="20" maxlength="20"><input type="submit" value="Buscar">
        </form>
    </div>
    <div class="header-nav">            
                <ul class="nav-main">
                  <li><a href="/brands/ssd">SSD</a></li>
                  <li><a href="/brands/ram">RAM</a></li>
                  <li><a href="/brands/flash">FLASH</a></li>
                </ul>
                <ul class="nav-sesion">
                    <% if (locals.isLogged) { %>
                        <li><a href="/products">Productos <i class="fas fa-product-hunt"></i></a></li>
                        <li><a href="/users">Usuarios <i class="fas fa-user"></i></a></li>
                        <li><a href="/users/logout">Logout <i class="fas fa-user"></i></a></li>
                    <% } else { %>
                        <li><a href="#">Mis Compras <i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="/users/login">Iniciar sesion <i class="fas fa-user"></i></a></li>
                        <li><a href="/users/register">Registrar <i class="fas fa-user"></i></a></li>
                    <% } %>    
                </ul>
    </div> 
</header>