<footer>
    <div class="footer-top">
        <div class="direccion">
            <p class="footer-titulos">MemoryShop</p>
            <p>Calle 85, No. 49, Ciudad de México</p>
        </div>
        <div class="redes">
            <p class="footer-titulos">Contacto:</p>
            <div class="redes-iconos">
                <a href="#"> <i class="fab fa-2x fa-facebook"></i></a>
                <a href="#"><i class="fab fa-2x fa-twitter-square"></i></a>
                <a href="#"><i class="fas fa-2x fa-envelope-square"></i></a>
            </div>
        </div>
    </div>        
    <div class="copyright">
        <p>Copyright <i class="far fa-copyright"></i> MemoryShop S.A. de C.V.</p>

    </div>

</footer>
</body>
</html>