<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="promo">
            <img src="/images/promo1.png" class="img-promo">
        </div>
        <div class="producto-detalle">
            <div class="titulo-detalle">Detalle de Producto</div>
            <div class="contenedor-carrito">
                <div class="img-detalle">
                    <img src="/images/ADATA-FLASH-32G.jpg" class="imagen-detalle">
                </div>
                <div class="informacion-detalle">
                    <div class="nombre-detalle">Memoria flash ADATA de 32G</div>
                    <div class="SKU-detalle">SKU: ADF32GBS</div>            
                    <div class="descripcion-detalle"> Memoria Flash Adata de 32 GB, color negro con rojo. </div>
                    <div class="precio-detalle">Precio: 149.90</div>
                    <div class="costo-envio-detalle">Costo de envío: 99.90</div>
                    <button type="submit" class="button-agregar">Agregar al Carrito</button>
                    <div class="caracteristicas-detalle">
                        <div class="caracteristicas-detalle-titulo">Características</div>
                        <div class="caracteristicas-detalle-característica"><strong>Color:</strong>	Gris</div>                
                        <div class="caracteristicas-detalle-característica"><strong>Capacidad de almacenamiento:</strong> 32GB</div>
                        <div class="caracteristicas-detalle-característica"><strong>Marca:</strong> ADATA</div>
                        <div class="caracteristicas-detalle-característica"><strong>Velocidad de lectura:</strong> 400 Mps</div>
                        <div class="caracteristicas-detalle-característica"><strong>Tipo de memoria:</strong> Flash</div>
                    </div>
                </div>
            </div>
        </div>

    </main>
<%- include('partials/footer.ejs') %>
